fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
pdfplumber==0.11.4
spacy==3.7.6
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
blis==0.7.11 @ https://files.pythonhosted.org/packages/0b/00/1b6a461a3b6c2f14f6f7494c8f5a2c24c9c3e2e4f41df0294a4c49687469/blis-0.7.11-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl